html{
  font-size: 120%;
  font-family: Tahoma, Geneva, sans-serif;
}

img{
  max-width: 100%;
}

.detalhe-produto{
  padding: 1em;
  background-color: #40afa1;
  transform: translateZ(2px);
  background-color: rgba(62, 131, 202, 0.89);
  color:white;
}

.detalhe-produto:active{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.21);
}

.wraper-detalhe{
    width: 40px;
    background-color: red;
    margin: auto;
    text-align: center;
}
.detalhe-produto i {
  float: left;
}

.container{
  margin: 0 auto;
  max-width: 1200px;
}

.bookstore {
  width: 100%;
  text-align: center;
}

.livro {
  margin:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.21);
  margin-top:0.5em;
  border: solid 1px white;
}

.livro img {
  width: 100%;
}

.btn-lista {
  background-color:#6eb400;
  float:left;
  clear: both;
}

.btn-lista:active{
  -webkit-transform: translateZ(2px);
  -ms-transform: translateZ(2px);
   transform: translateZ(2px);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.21);

}

.btn-carrinho {
  background-color:#cd2323;
  float:right;
}
.btn-carrinho:active {
  -webkit-transform: translateZ(2px);
  -ms-transform: translateZ(2px);
   transform: translateZ(2px);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.21);
}


.area p::before {
  color: white;
  margin: auto;
}

.fa-heart:before {
  color: white;
}
.fa-cart-plus:before {
  color:white;
}


.area button {
  width: 33.33%;
  outline: none;
  border: none;
  height: 66px;
}

.area h2 {
  font-family: arial;
  font-size: 16px;
  padding: 1em;
  text-transform: uppercase;
}

.header{
  width: 100%;
  background-color: red;
}

.header-top{
  max-width: 1200px;
  margin:auto;
  background-color: #1d3949;
  display: none;
}

.header-left {
  width: 6em;
  padding: 0.2em;
}

.header-right{
  float: right;
  width: 68%;
  background-color: #1d3949;
  padding: 0.2em;
}
.header-right, .header-left span{
  color:white;
  font-size: 0.8em;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-right{
  display: none;
  float: right;
  padding: 0.2em;
  margin-right: 1.5em;
}

.drop{
  display: none;
  position: relative;
}

.dropdown-content{
  display: none;
  padding-top: 0.9em;
  background-color: #323a45;
  min-width: 10.6em;
  text-align: center;
  left: 0;
  position: absolute;

}

.dropdown-content a {
    color: white;
    padding: 0.5em 0.8em;
    text-decoration: none;
    display: block;
}

.drop:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: black;
}

.header-main{
  max-width: 1200px;
  margin: auto;
  background-color: #f1f1f1;
}

.header-main-left {
  padding: 0.5em;
  width: 27.5%;
}

.header-main-left img{
  max-width: 100%;
}

.header-main-right {
  padding: 1em;
  width: 56.7%;
  line-height: 89px;
  float: right;
}

input[type=text] {
    top: 0;
    right: 0;
    margin-top: 9px;
    margin-right: 5px;
    position: absolute;
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-image: url('../search.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 0.5em 0.5em 0.5em 3em;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border: 1 none;
}

input[type=text]:focus {
    outline: 0;
    border: 1 none;
    width: 50%;
}

.header-main-right span {
  color: #323a45;
  float: right;
  font-size: 2em;
}

.fa-shopping-basket:before{
  margin-right: 0.5em;
  line-height: 89px;
  color: #cd2323;
  font-size: 2.2rem;
}

.fa {
  float: right;
}
.icon-file-text2:before{
  line-height: 60px;
  margin-right: 1em;
  color: #6eb400;
  font-size: 2.2rem;
}

.campo-pesquisa{
  float: right;
  line-height;
  margin-top: 2em;
}

.header-menu{
  background-color:  #1d3949;
  height: 40px;
  margin:auto;
  max-width: 1200px;
}

.menu-principal{
  list-style-type: none;
}

.menu-principal a {
  float: left;
  display:inline-block;
  margin-right: 1em;
  padding-right: 1em;
  text-decoration:  none;
  color:white;
  line-height: 2.5;
  font-size: 0.88em;
}

.menu-principal a:hover{
  opacity: 0.8;
}
.wraper{
  width: 100%;
  background-color: #1d3949;
  position: relative;
}
.mais-procurados a span {
  color: #00a0d2;

}
.terror a span {
  color: #6eb400;

}

.suspense a span {
  color: #cd2323;

}

.ficcao-cientifica a span {
  color : #dc7800;

}

.romance a span {
  color : #20C7CE;
}

.contos a span {
  color : #A364BF;

}

#responsive-campo-pesquisa{
  display: inline;
  margin: auto;
  margin-top: -11.5%;
  margin-right: 10px;
}

@media (max-width: 690px){
  .header-menu{
    background: rgba(0,0,0,0.9);
    margin: 0;
    height: 100%;
    width: 80%;
    max-width: 320px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -90%;
    padding: 1em;
    transition: left 0.3s ease-out;
  }

  .usuario{
    color: white;
    width: 100%;
    background-color: rgba(66, 6, 93, 0.94);
    height: 20px;
    position:absolute;
    bottom:0;
    left:0;
    height: 100px;
  }

  .wrapper-login {
    width: 50%;
    background-color: #00a0d2;
    height: 100%;
    float: right;
    text-align: center;
    padding-top: 1em;
    font-size: 0.98em;
  }

  .wrapper-cadastro {
    font-size:0.98em;
    text-align: center;
    margin: auto;
    padding-top: 1em;

  }

  .menu-ativo .header-menu{
    padding: 1em;
    left: 0;
  }

  .menu-ativo:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
  }

  .header-menu ul li a{
    margin: auto;
    width: 100%;
    font-size: 0.98em;
  }
}

@media not all and (max-width: 690px) {
    .menu-abrir,
    .menu-fechar {

        display: none;
    }
}

.menu-abrir,
.menu-fechar {
    background: none;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    font-size: 1.6em;
    text-indent: -999em;
}

.menu-abrir {
  height: 0;
  width:.95em;
  padding-top:.125em;
  border-top: .375em double #000;
  border-bottom: .125em solid #000;
  vertical-align: middle;
  margin: 0.5em;
}

.menu-fechar {
  position: relative;
  height: 1em;
  width: 1em;
}

.menu-fechar:before {
  content: '\00D7';
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0;
  color: white;
}
/*.campo-pesquisa{
  display: none;
}*/

@media(min-width:768px){
  .usuario {
    display: none;
  }
  /*#responsive-campo-pesquisa{
    display: none;
  }*/
  .campo-pesquisa{
    display: inline-block;
  }

  .icon-cart:before {
    line-height: 89px;
  }

  .header-top {
    display: inherit;
  }

  .icon-file-text2:before {
    line-height: 89px;
  }

  .icon-cart:before{
    margin-right: 1em;
  }
}

@media(min-width:1200px){

  .icon-right, .drop{
    display: inline;
  }
  .header-main-right {
    width:67.7%;
  }
  .header-top {
    display: inherit;
  }
  .icon-cart:before{
    margin-right: 1em;
  }
}
@media(min-width:340px){
  .icon-file-text2:before, .icon-cart:before  {
    line-height: 89px;
    /*font-size: 2.2rem;*/
  }
}

.esconde-campo{
	display: none;
}
